header {
	display: flex;
    justify-content: space-evenly;
	flex-wrap: wrap;

    .total-matches-wrapper {
		position: relative;
		min-width: 200px;
		min-height: 50px;
		
		> * {
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
    }
}